In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('owid-covid-data (1).csv')

##Data Cleaning

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129108 entries, 0 to 129107
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    129108 non-null  object
 1   continent                                   122666 non-null  object
 2   location                                    129108 non-null  object
 3   date                                        129108 non-null  object
 4   total_cases                                 121318 non-null  float64
 5   new_cases                                   127283 non-null  float64
 6   new_cases_smoothed                          126883 non-null  float64
 7   total_deaths                                115045 non-null  float64
 8   new_deaths                                  127283 non-null  float64
 9   new_deaths_smoothed                         126883 non-null  float64
 10  total_cases_per_million                     121318 non-null  float64
 11  new_cases_per_million                       127282 non-null  float64
 12  new_cases_smoothed_per_million              126882 non-null  float64
 13  total_deaths_per_million                    115044 non-null  float64
 14  new_deaths_per_million                      127282 non-null  float64
 15  new_deaths_smoothed_per_million             126882 non-null  float64
 16  reproduction_rate                           61946 non-null   float64
 17  icu_patients                                15437 non-null   float64
 18  icu_patients_per_million                    15437 non-null   float64
 19  hosp_patients                               14727 non-null   float64
 20  hosp_patients_per_million                   14727 non-null   float64
 21  weekly_icu_admissions                       4163 non-null    float64
 22  weekly_icu_admissions_per_million           4163 non-null    float64
 23  weekly_hosp_admissions                      7958 non-null    float64
 24  weekly_hosp_admissions_per_million          7958 non-null    float64
 25  total_tests                                 23669 non-null   float64
 26  new_tests                                   22091 non-null   float64
 27  total_tests_per_thousand                    23669 non-null   float64
 28  new_tests_per_thousand                      22091 non-null   float64
 29  new_tests_smoothed                          32109 non-null   float64
 30  new_tests_smoothed_per_thousand             32109 non-null   float64
 31  positive_rate                               29592 non-null   float64
 32  tests_per_case                              28999 non-null   float64
 33  tests_units                                 33172 non-null   object
 34  total_vaccinations                          28213 non-null   float64
 35  people_vaccinated                           25553 non-null   float64
 36  people_fully_vaccinated                     25480 non-null   float64
 37  total_boosters                              17813 non-null   float64
 38  new_vaccinations                            23158 non-null   float64
 39  new_vaccinations_smoothed                   66149 non-null   float64
 40  total_vaccinations_per_hundred              28213 non-null   float64
 41  people_vaccinated_per_hundred               25553 non-null   float64
 42  people_fully_vaccinated_per_hundred         25480 non-null   float64
 43  total_boosters_per_hundred                  17813 non-null   float64
 44  new_vaccinations_smoothed_per_million       66149 non-null   float64
 45  new_people_vaccinated_smoothed              64065 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  64065 non-null   float64
 47  stringency_index                            66633 non-null   float64
 48  population_density                          113321 non-null  float64
 49  median_age                                  103739 non-null  float64
 50  aged_65_older                               102142 non-null  float64
 51  aged_70_older                               103739 non-null  float64
 52  gdp_per_capita                              102142 non-null  float64
 53  extreme_poverty                             62199 non-null   float64
 54  cardiovasc_death_rate                       103739 non-null  float64
 55  diabetes_prevalence                         110127 non-null  float64
 56  female_smokers                              76590 non-null   float64
 57  male_smokers                                76590 non-null   float64
 58  handwashing_facilities                      52569 non-null   float64
 59  hospital_beds_per_thousand                  90963 non-null   float64
 60  life_expectancy                             121306 non-null  float64
 61  human_development_index                     100545 non-null  float64
 62  population                                  129107 non-null  float64
 63  excess_mortality_cumulative_absolute        4152 non-null    float64
 64  excess_mortality_cumulative                 4152 non-null    float64
 65  excess_mortality                            4152 non-null    float64
 66  excess_mortality_cumulative_per_million     4152 non-null    float64
dtypes: float64(62), object(5)
memory usage: 66.0+ MB

In [18]:
df.shape

(129108, 67)

##Gestion des valeurs  manquantes

In [19]:
df.isna().sum()

iso_code                                        0
continent                                    6442
location                                        0
date                                            0
total_cases                                  7790
                                            ...
population                                      1
excess_mortality_cumulative_absolute       124956
excess_mortality_cumulative                124956
excess_mortality                           124956
excess_mortality_cumulative_per_million    124956
Length: 67, dtype: int64

###Colonne Continent

In [20]:
df.continent.value_counts()

continent
Africa           34985
North America    27160
Europe           25365
Asia             14391
South America    12780
Oceania           7985
Name: count, dtype: int64

In [21]:
df['continent']=df['continent'].fillna('Europe')

In [22]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

#### Colonne Population

In [23]:
df.population.isna()

0         False
1         False
2         False
3         False
4         False
          ...
129103    False
129104    False
129105    False
129106    False
129107     True
Name: population, Length: 129108, dtype: bool

In [34]:
df.population.isna()

0         False
1         False
2         False
3         False
4         False
          ...
129103    False
129104    False
129105    False
129106    False
129107    False
Name: population, Length: 129108, dtype: bool

In [33]:
df['population']=df['population'].fillna(4.721383e+09)

In [35]:
df['population'].value_counts()

population
4.721383e+09    1615
1.049399e+07    1615
1.711864e+08    1615
6.781955e+06    1615
4.501468e+08    1615
                ...
7.824570e+05    1597
6.420700e+04    1597
2.705995e+06    1447
5.655000e+07    1359
4.721383e+09       1
Name: count, Length: 82, dtype: int64

In [37]:
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                  7790
                                            ...
population                                      0
excess_mortality_cumulative_absolute       124956
excess_mortality_cumulative                124956
excess_mortality                           124956
excess_mortality_cumulative_per_million    124956
Length: 67, dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129108 entries, 0 to 129107
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    129108 non-null  object
 1   continent                                   129108 non-null  object
 2   location                                    129108 non-null  object
 3   date                                        129108 non-null  object
 4   total_cases                                 121318 non-null  float64
 5   new_cases                                   127283 non-null  float64
 6   new_cases_smoothed                          126883 non-null  float64
 7   total_deaths                                115045 non-null  float64
 8   new_deaths                                  127283 non-null  float64
 9   new_deaths_smoothed                         126883 non-null  float64
 10  total_cases_per_million                     121318 non-null  float64
 11  new_cases_per_million                       127282 non-null  float64
 12  new_cases_smoothed_per_million              126882 non-null  float64
 13  total_deaths_per_million                    115044 non-null  float64
 14  new_deaths_per_million                      127282 non-null  float64
 15  new_deaths_smoothed_per_million             126882 non-null  float64
 16  reproduction_rate                           61946 non-null   float64
 17  icu_patients                                15437 non-null   float64
 18  icu_patients_per_million                    15437 non-null   float64
 19  hosp_patients                               14727 non-null   float64
 20  hosp_patients_per_million                   14727 non-null   float64
 21  weekly_icu_admissions                       4163 non-null    float64
 22  weekly_icu_admissions_per_million           4163 non-null    float64
 23  weekly_hosp_admissions                      7958 non-null    float64
 24  weekly_hosp_admissions_per_million          7958 non-null    float64
 25  total_tests                                 23669 non-null   float64
 26  new_tests                                   22091 non-null   float64
 27  total_tests_per_thousand                    23669 non-null   float64
 28  new_tests_per_thousand                      22091 non-null   float64
 29  new_tests_smoothed                          32109 non-null   float64
 30  new_tests_smoothed_per_thousand             32109 non-null   float64
 31  positive_rate                               29592 non-null   float64
 32  tests_per_case                              28999 non-null   float64
 33  tests_units                                 33172 non-null   object
 34  total_vaccinations                          28213 non-null   float64
 35  people_vaccinated                           25553 non-null   float64
 36  people_fully_vaccinated                     25480 non-null   float64
 37  total_boosters                              17813 non-null   float64
 38  new_vaccinations                            23158 non-null   float64
 39  new_vaccinations_smoothed                   66149 non-null   float64
 40  total_vaccinations_per_hundred              28213 non-null   float64
 41  people_vaccinated_per_hundred               25553 non-null   float64
 42  people_fully_vaccinated_per_hundred         25480 non-null   float64
 43  total_boosters_per_hundred                  17813 non-null   float64
 44  new_vaccinations_smoothed_per_million       66149 non-null   float64
 45  new_people_vaccinated_smoothed              64065 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  64065 non-null   float64
 47  stringency_index                            66633 non-null   float64
 48  population_density                          113321 non-null  float64
 49  median_age                                  103739 non-null  float64
 50  aged_65_older                               102142 non-null  float64
 51  aged_70_older                               103739 non-null  float64
 52  gdp_per_capita                              102142 non-null  float64
 53  extreme_poverty                             62199 non-null   float64
 54  cardiovasc_death_rate                       103739 non-null  float64
 55  diabetes_prevalence                         110127 non-null  float64
 56  female_smokers                              76590 non-null   float64
 57  male_smokers                                76590 non-null   float64
 58  handwashing_facilities                      52569 non-null   float64
 59  hospital_beds_per_thousand                  90963 non-null   float64
 60  life_expectancy                             121306 non-null  float64
 61  human_development_index                     100545 non-null  float64
 62  population                                  129108 non-null  float64
 63  excess_mortality_cumulative_absolute        4152 non-null    float64
 64  excess_mortality_cumulative                 4152 non-null    float64
 65  excess_mortality                            4152 non-null    float64
 66  excess_mortality_cumulative_per_million     4152 non-null    float64
dtypes: float64(62), object(5)
memory usage: 66.0+ MB

In [39]:
df['total_cases']=df['total_cases'].fillna(0)

In [41]:
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                     0
                                            ...
population                                      0
excess_mortality_cumulative_absolute       124956
excess_mortality_cumulative                124956
excess_mortality                           124956
excess_mortality_cumulative_per_million    124956
Length: 67, dtype: int64

### Rest des colonnes : Remplir par 0

In [42]:
cols_to_fill_zero = ['excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
                     'excess_mortality', 'excess_mortality_cumulative_per_million']

In [43]:
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [44]:
df.isna().sum()

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

##Enregistrer les données nettoyées dans un nouveau fichier CSV

In [45]:
df.to_csv('cleaned_covid_data.csv', index=False)